.welcome{
  margin-bottom: 10px;
   height: 120px;
   background-color: #f9db79;
   font-family: 'Oswald';
   font-weight: 600;
   font-size: 60px;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
}
