.welcome{
   height: 100;
   background-color: #f9db79;
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 60px;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
}
