



.MuiFormControl-root{


position:relative;


}

.css-p1hkwx-MuiAutocomplete-root {



}

.MuiAutocomplete-inputFocused {

background: white;
}


.MuiInputLabel-animated{
  border-bottom: 1px solid white;
 
  color: white;

}

.MuiTabs-root {
	background: #1d1d1d;
  color: white;
  
}




.mainBox{

  background-color: white;

  padding: 10px;
  margin: 0 auto;
  width: 50vw;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  height: 800px;
  flex-direction: column;
  border: 1px solid purple;
  border-radius: 15%;

  
}
.ListItemCategories{
  cursor: pointer;

}
.tinyMainbox{
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  margin-top: 20px;
  border: 1px solid purple;
  border-radius: 15%;
  width: 20vw;

  background-color: white;

  padding: 10px;
  
}


.headerBox{
  width: 100%;
  align-items: center;
  height: 31%;
  display: flex;
  justify-content: space-around;
  
}
.infoBox{
  margin: 2px;
  padding: 5px;

}
.infoBox{
  
}
.timeBox{

  
}
.imageBox{
  height: 100%;
}
.bodyBox{
}
.tinyBoxImage{
  height: 150px;
  width: 100px;
}
.subButton{

  height: 70px;
  width: 150px;
  border-radius: 10%;
  border: 2px solid purple;
  text-shadow: 2px purple;
}
.subAndRateBox{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.titleP{
}
.titleBox{
  display: flex;
  justify-content: center;
}
.infosDiv{
}

.tinyMainbox2{
  margin: 0;
}

.materialMainBox{
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  margin-top: 20px;
  
  width: 20vw;

  padding: 10px;
  border-radius: 2%;
}
.materialBigMainBox{
  
  padding: 10px;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 2%;
}
.categoriesContentCards{
  display: flex;
  justify-content: flex-start;
align-items: flex-start;
flex-wrap: wrap;
margin: 10px;
padding: 10px;
}
.TinyMAINBOX{
  display: flex;
  justify-content:flex-start;
  align-items:flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
body {

	background: white;

  margin: 0%;


	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.MuiTypography-colorTextSecondary {
  color: #f6f8fc;
}

.css-i4bv87-MuiSvgIcon-root {
  color: aliceblue
}

.rightBlock{
  display: flex;
  flex-direction:column;

 justify-content:space-between;
}

footer {
  background-color: #1d1d1d;
  
  

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  


}

.pagination{
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style-type: none;


}
.page-item{
}
.pagiButton{
  background-color: transparent;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin: 5px;
  margin-top: 30px;
  cursor: pointer;
}



